---
layout: default
title: Blog
tagline:
---

<div class="row-fluid">
		
	<div class="span8">
		{% for post in paginator.posts %}
			<blockquote>
				<div class="page-header">
					<h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> <small>{{ post.date | date: "%B %d, %Y" }}</small></h1>
				</div>
				<p>{{ post.content }}</p>
			</blockquote>
		{% endfor %}
	  
		<ul class="pager">
			{% if paginator.previous_page %}
			  	<li class="previous">
			  		{% if paginator.previous_page == 1 %}
			    		<a href="/">&larr; Newer</a>
			    	{% else %}
			    		<a href="/page{{paginator.previous_page}}">&larr; Newer</a>
			   		{% endif %}
			  	</li>
			{% else %}
				<li class="previous disabled">
				    <a href="#">&larr; Newer</a>
				</li>
			{% endif %}

			{% if paginator.next_page %}
				<li class="next">
			    	<a href="/page{{paginator.next_page}}">Older &rarr;</a>
			  	</li>
			{% else %}
			  <li class="next disabled">
			   <a href="#">Older &rarr;</a>
			  </li>
			{% endif %}	   
		</ul>
	</div>

	<div class="span4">
		<h1 class="muted">Projects</h1>
			{% for page in site.pages %}
			  	{% if page.project %}
			  	<a class="block-project {{ page.class }}" href="{{ BASE_PATH }}{{ page.url }}">
					<img class='block-project-icon' src='{{ site.ASSET_PATH }}{{ page.icon }}'/>
					<div class='block-project-text' >
						{{ page.title}}
					</div>
				</a>  
				{% endif %}
			{% endfor %}
		<ul class="pager">
			<li class="next">
				<a href="{{ site.BASE_PATH }}projects.html">Projects &rarr;</a>
			</li>
		</ul>	
    </div><!--/span-->

</div><!--/row-->
