---
layout: default
title: Blog
navbar: true
---

<div class="row blog">
    <div class="col-md-8">
        {% for post in paginator.posts %}
        <blockquote class="blog-post">
            <div class="page-header">
                <h1>
                    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
                    <small>{{ post.date | date: "%B %d, %Y" }}</small>
                </h1>
            </div>
            {{ post.content }}
        </blockquote>
        {% endfor %}

        <ul class="pager">
            {% if paginator.previous_page %}
            <li class="previous">
                {% if paginator.previous_page == 1 %}
                <a href="/">&larr; Newer</a> {% else %}
                <a href="/page{{paginator.previous_page}}">&larr; Newer</a> {% endif %}
            </li>
            {% else %}
            <li class="previous disabled">
                <a href="#">&larr; Newer</a>
            </li>
            {% endif %} {% if paginator.next_page %}
            <li class="next">
                <a href="/page{{paginator.next_page}}">Older &rarr;</a>
            </li>
            {% else %}
            <li class="next disabled">
                <a href="#">Older &rarr;</a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="col-md-4">
        <div class="side-header">
            <h1 class="muted"><a href="/projects">Projects</a></h1>
        </div>
		{% for project in site.data.projects %}
            {% if project.url %}
                <a class="block-project {{project.class}}" {% if project.type=="website" %} target="_blank" {% endif %} href="{{ project.url }}">
                    <div class='block-project-icon'></div>
                    <div class='block-project-text'>
                        {{ project.title}}
                    </div>
                </a>
            {% endif %}
		{% endfor %}
    </div>
</div>
