---
layout: default
title: Blog
tagline:
---
{% include JB/setup %}

<div class="row-fluid">
		
	<div class="span8">
		{% for post in paginator.posts %}
			<blockquote>
				<h1><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a></h1>
				<h6 class="date">{{ post.date | date_to_string}}</h6>
				<p>{{ post.content }}</p>
			</blockquote>
		{% endfor %}
	  
		<ul class="pager">
			{% if paginator.previous_page %}
			  	<li class="previous">
			  		{% if paginator.previous_page == 1 %}
			    		<a href="/">&larr; Newer</a>
			    	{% else %}
			    		<a href="/page{{paginator.previous_page}}">&larr; Newer</a>
			   		{% endif %}
			  	</li>
			{% else %}
				<li class="previous disabled">
				    <a href="#">&larr; Newer</a>
				</li>
			{% endif %}

			{% if paginator.next_page %}
				<li class="next">
			    	<a href="/page{{paginator.next_page}}">Older &rarr;</a>
			  	</li>
			{% else %}
			  <li class="next disabled">
			   <a href="#">Older &rarr;</a>
			  </li>
			{% endif %}	   
		</ul>
	</div>

	<div class="span4">
		<h1 class="muted">Projects</h1>
			{% for page in site.pages %}
			  	{% if page.project %}
			  	<a class="project {{ page.class }}" href="{{ BASE_PATH }}{{ page.url }}">
					<img class='project-icon' src='{{ ASSET_PATH }}{{ page.icon }}'/>
					<div class='project-text' >
						{{ page.title}}
					</div>
				</a>  
				{% endif %}
			{% endfor %}
			
    </div><!--/span-->

</div><!--/row-->
