/*
	Core
*/

body {
	padding-top: 100px;
	padding-bottom: 20px;
}

h1,h2 {
	margin-bottom: 0px;
}
h1 a,
h1 a:hover {
	color: rgb(51, 51, 51);
}

h6 {
	margin-top: 0px;
}

h1.muted {
	margin-bottom: 10px;
}

blockquote p {
	font-size: 14px;
}

blockquote:hover {
	border-color: #0088cc;
}

/* 
	Helpers
*/

.pad-right {
	padding-right: 9px;
}

a.noLinkStyles,
a.noLinkStyles.hover {
	color: rgb(51, 51, 51);
	text-decoration: none;
}

/* 
	Header 
*/

.page-header {
	margin-bottom: 15px;
	margin-top: 10px;
}

.navbar .nav {
	margin: 0px;
}
.navbar .brand:hover {
	color: #333;
/*	text-shadow: 0px 0px 50px #0088CC;*/
	text-decoration: none;
}

.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  text-shadow: 0px 0px 10px #0088CC;
}

.navbar .nav .active > a,
.navbar .nav .active > a:hover,
.navbar .nav .active > a:focus {
	text-shadow: none;
	color: #333;
	background-color: rgba(0, 136, 204, .1);
}

.navbar-inner {
	border-bottom-color: #0088cc;
}

.navbar-fixed-top .navbar-inner {
	-webkit-box-shadow: 0 1px 10px rgba(0, 136, 204, .3);
	-moz-box-shadow: 0 1px 10px rgba(0, 136, 204, .3);
	box-shadow: 0 1px 10px rgba(0, 136, 204, .3);
}

/* 
	Footer
*/

.social-icon {
	width: 30px;
	height: 29px;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
}
.social-icon:hover {
	border-color:#0088cc;
	-webkit-box-shadow:0 0px 4px rgba(0,105,214,1);
	-moz-box-shadow:0 0px 4px rgba(0,105,214,1);
	box-shadow:0 0px 4px rgba(0,105,214,1);
}

/*
	Custom Block Unit
*/

.block-project {
	position: relative;
	height: 150px;
 	background-size: 100%;
	background-position: center; 
	margin-bottom: 20px;
	display:block;
	padding:4px;
	border:2px solid #ddd;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	
}
.block-project.koto {
	background-image: url("../images/koto_background.png");
	background-color: rgb(23,123,183);
}
.block-project.nomnomnom {
	background-image: url("../images/nomnomnom_background.png");
	background-color: rgb(51,51,51);
}

a.block-project:hover {
	border-color:#0088cc;

	-webkit-box-shadow:0 0px 4px rgba(0,105,214,1);
	-moz-box-shadow:0 0px 4px rgba(0,105,214,1);
	box-shadow:0 0px 4px rgba(0,105,214,1);
}

.block-project .block-project-icon {
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 34px;
	right: 0;
	left: 0;
	max-width: 55%;
	max-height: 55%;
}

.block-project .block-project-text {
	position: absolute;
	bottom: 0;
	height: 20px;
  	width: 100%;
  	background-color: rgba(0,0,0, .4);
  	color: white;
  	left: 0;
  	right: 0;
  	padding: 7px 0px;
  	text-align: center;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}

/* 
	Standard Block Unit, uses a well
*/

.block h2 {
	margin-top: 0px;
}
.block.block-small h2{
	margin-top: 10px;
}
.block.block-small .well {
	padding-top: 0px;
}

.block,
.block:hover {
	color: rgb(51,51,51);
	text-decoration: none;
}

.block .well:hover {
	/*border-color:#0088cc;*/
	-webkit-box-shadow:0 0px 4px rgba(0,105,214,1);
	-moz-box-shadow:0 0px 4px rgba(0,105,214,1);
	box-shadow:0 0px 4px rgba(0,105,214,1);
}
.block .block-icon {
	width: 70px;
	height: 70px;
	padding-right: 19px;
}

.well.well-small {
	margin-bottom: 10px;
}

.block .more-label {
	padding-left: 9px;
	position: relative;
	top: 3px;
}

/*
	Page and Post Helpers
*/

.big-button {
	font-size: 28px;
	font-weight: 400;
	margin-top: 10px;
}

.pull-right-remove-phone {
	float: right;
}