<div class="row">
  <div class="span8">
    <h1>{{ page.title }}</h1>
    <h6 class="date">{{ page.date | date_to_long_string }}</h6>

    {{ content }}

   {% include JB/comments %}
  </div>
  
  <div class="span4">
    <h4>Recent Posts</h4>
    <ul class="nav nav-tabs nav-stacked">
      {% for post in site.posts %}
        <li>
           <a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}<span class="date"> {{ post.date | date_to_string}}</span></a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>