<div class="row">
  <div class="span8">

    <div class="page-header">
      <h1>{{ page.title }} <small>{{ page.date | date: "%B %d, %Y" }}</small></h1>
    </div>

    {{ content }}

   {% include JB/comments %}
  </div>
  
  <div class="span4">
    <h1 class="muted">Recent Posts</h1>
    <ul class="nav">
      {% for post in site.posts limit:10 %}
      	<li>
          	<a class="block" href="{{ BASE_PATH }}{{ post.url }}">
        		<div class="well well-small">
	        		<strong>{{ post.title}}</strong> <span class="muted">{{ post.date | date: "%B %d, %Y" }}</span>
	        	</div>
     	 	</a>
        </li>
      {% endfor %}
    </ul>
    <ul class="pager">
	  <li class="next">
	    <a href="/archive.html">Archive &rarr;</a>
	  </li>
	</ul>
  </div>
</div>