---
layout: default
---

<div class="row">
    <div class="col-md-8 post">

        <div class="page-header">
            <h1>
                {{ page.title }}
                <small>{{ page.date | date: "%B %d, %Y" }}</small>
            </h1>
            <!-- <p>
                Tags:
                {% for tag in page.tags %}
                    <a href="/"> {{ tag }}</a>
                {% endfor %}
            </p> -->

        </div>

        <article class="post-content">
            {{ content }}
        </article>
    </div>

    <div class="col-md-4">
        <div class="side-header">
            <h1 class="muted">Recent Posts</h1>
        </div>
        <ul class="nav nav-stacked">
            {% for post in site.posts limit:10 %}
            <li>
                <a class="block" href="{{ BASE_PATH }}{{ post.url }}" title="{{ link.title }}">
                    <div class="well well-sm">
                        <strong>{{ post.title}}</strong>
                        <span class="muted">{{ post.date | date: "%B %d, %Y" }}</span>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
        <ul class="pager">
            <li class="next">
                <a href="/archive">Archive &rarr;</a>
            </li>
        </ul>
    </div>

</div>
